{% extends "main.html" %}

{% block content %}

<section>
      <!-- main content area -->
	{% for post in posts %}
    <article id="box">
		<header class="post-title">
			<a href="/posts/{{ post.slug }}">{{ post.title }}</a>
                </header>
		<div class="date">
                  POSTED ON {{ post.date.__str__() }}
                </div>
		<hr class="divider">
                <span class="post-links">

                <ul style="margin: 0px">
                  <li>COMMENTS: 0   </li>
                 <li> <a href="https://twitter.com/share"
                         class="twitter-share-button"
                         data-lang="en"
                         data-url="/posts/{{ post.slug }}"
                         data-via="ashutoshrishi">
                 TWEET POST
                 </a></li>

                 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                  <li>SHARE VIA FACEBOOK</li>

                  <li  class="rating">
                    <span> &#9734; </span> 
                  </li >

                </ul>
                </span>
                
                <hr class="divider">
		{% if post.summary %}
		    <p>{{ post.summary|markdown|safe }}</p> 
		     <a href="/post/{{ post.slug }}"><br>
		     <p style="font-size: 26px; margin: 2px;float: right">
		     . . . continue reading</p></a>
		{% else %}
		    <p>{{ post.body | markdown | safe }}</p>
		{% endif %}
    </article>
    {% endfor %}

</section>

{% endblock %}    
    
