{% extends "main.html" %}

{% block content %}



{% for post in posts %}
<article id="box">

<div class="page-header">
<h1><a href="/posts/{{ post.slug }}">{{ post.title }}</a>
<small>posted on {{ post.date.__str__() }}</small></h1>
<span class="label">Comments: {{ post.comment_count }}</span>
<span class="label">
<a href="https://twitter.com/share?url=http%3A%2F%2Fadventures.ashutoshrishiranjan.com%2Fposts%2F{{
                            post.slug }}&via=ashutoshrishi&text={{
                            post.title }}"
                      target="_blank">
  Share on Twitter</a></span>
</div>


	        {% if post.summary %}
		    <p>{{ post.summary|markdown|safe }}</p> 
		     <a href="/post/{{ post.slug }}"><br>
		     <small>
		     . . . continue reading</small></a>
		{% else %}
		    <p>{{ post.body | markdown | safe }}</p>
		{% endif %}
          
</article>
<br><br>
{% endfor %}


{% endblock %}    
    
