
<!doctype html>
<html>
  <head>
    <title>Adventures on the Web</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header class="title">
      <h1>ADVENTURES ON THE WEB</h1>
    </header>

    <nav>
      <!--Navigation-->
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>


<div id="content">
    <div id="maincontent">
    <section>
      <!-- main content area -->
	<article id="box">
		<header>
			<h2>This Is The Title Of A Blog Post</h2>
			<p>posted on <time datetime="2009-06-29t23:31:45+01:00">june 29th 2009</time> by <a href="#">mads kjaer</a> - <a href="#comments">3 comments</a></p>
		</header>
		<p>lorem ipsum dolor sit amet, consectetur adipiscing
		elit. proin euismod tellus eu orci imperdiet nec
		rutrum lacus blandit. cras enim nibh, sodales
		ultricies elementum vel, fermentum id tellus. proin
		metus odio, ultricies eu pharetra dictum, laoreet id
		odio...</p>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing
                elit. proin euismod tellus eu orci imperdiet nec
                rutrum lacus blandit. cras enim nibh, sodales
                ultricies elementum vel, fermentum id tellus. proin
                metus odio, ultricies eu pharetra dictum, laoreet id
                odio...</p>
                	<p>lorem ipsum dolor sit amet, consectetur
                	adipiscing elit. proin euismod tellus eu orci
                	imperdiet nec rutrum lacus blandit. cras enim
                	nibh, sodales ultricies elementum vel,
                	fermentum id tellus. proin metus odio,
                	ultricies eu pharetra dictum, laoreet id
                	odio...</p>
                        
	</article>

        <article id="box">
		<header>
			<h2>This Is The Title Of A Blog Post</h2>
			<p>posted on <time datetime="2009-06-29t23:31:45+01:00">june 29th 2009</time> by <a href="#">mads kjaer</a> - <a href="#comments">3 comments</a></p>
		</header>
		<p>lorem ipsum dolor sit amet, consectetur adipiscing elit. proin euismod tellus eu orci imperdiet nec rutrum lacus blandit. cras enim nibh, sodales ultricies elementum vel, fermentum id tellus. proin metus odio, ultricies eu pharetra dictum, laoreet id odio...</p>
	</article>
        
        
    </section>
</div>
</div>
    <footer>
      <!-- Footer -->
    </footer>

  </body>
</html>
