{% extends "main.html" %}

{% block content %}

<article id="box">

<div class="page-header">
<h1><a href="/posts/{{ post.slug }}">{{ post.title }}</a>
<small>posted on {{ post.date.__str__() }}</small></h1>
<span class="label">Comments: 10</span>
<span class="label">
<a href="https://twitter.com/share?url=http%3A%2F%2Fadventures.ashutoshrishiranjan.com%2Fposts%2F{{
                            post.slug }}&via=ashutoshrishi&text={{
                            post.title }}"
                      target="_blank">
  Share on Twitter</a></span>
</div>


	        {% if post.summary %}
		    <p>{{ post.summary|markdown|safe }}</p> 
		     <a href="/post/{{ post.slug }}"><br>
		     <small>
		     . . . continue reading</small></a>
		{% else %}
		    <p>{{ post.body | markdown | safe }}</p>
		{% endif %}
          
</article>

<div class="comments-section">


<h1>Comments : </h1>
{% if comments %}
<ul class="comments-display">
{% for comment in comments %}
  <li>
    <span>
      <p id="comment-author">{{ comment.author }}</p>
      <p id="comment-body">
        {{ comment.body }}
    </p>
    </span>
  </li>
{% endfor %}
</ul>
{% else %}
No comments to display here
{% endif %}

<br><br>
<h1>Post A Comment: </h1><br>
<!-- <form method="POST" action="{{ url_for('post_comment') }}"> -->
<!--   Name:<br>  -->
<!--   <input type="text" name="name" size="50"><br> -->
<!--   Email: <br> -->
<!--   <input type="text" name="email" size="50"><br> -->
<!--   Comment: <br> -->
<!--   <textarea rows="5" cols="50" name="body"></textarea><br> -->
<!--   <input type="hidden" name="slug" value="{{ post.slug }}"> -->
<!--   <input type="submit" value="POST" id="submit"> -->
<!-- </form> -->

{% from "_formhelpers.html" import render_field %}
<form method=post action="/post-comment">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.comment, rows="10", cols="50") }}
    {{ render_field(form.slug, value=post.slug) }}
  
  <dd><input type=submit value='Comment' id="submit"></dd>
  </dl>
</form>

<br><br>




</div>
<br>


{% endblock %}    
    
